
body {
    padding-top: 30px;
    /* moving image up  x y*/
    background: url("images/white_sky.jpg") no-repeat 0 -800px;
    font-family: Georgia, 'Times New Roman', Times, serif
}


/* Global */
.container{
    margin: 200px 100px 100px 100px;
}


/*----------- navigation -------------*/

.navig ul{
    display: flex;
    text-align: left;
    list-style-type: none;
}

.navig a {
    display: block;
    padding-left: 30px;
    
}


/* .navig a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
.navig a:hover{
    color: aqua;
}
 */


/*----------- naivg ends here---------- */


main {
    text-align: center;
    padding:100px;
    position: relative;
}

main header p {
    padding-bottom: 100px;
}

section {
    margin-top: 300px;
    margin-bottom: 40%;
    position: relative;
}


/* Footer */

.s_container{
    background-color: aqua;
}



footer li {
    float: left;
    list-style-type: none;
    margin-right: 20%;
}

footer a {
    text-decoration: none;
    color: black;
}
footer a:hover{
    background-color: aquamarine;
    font-size: 100%;
}

footer ul{
    text-align: center;
    margin-left: 200px;
}


main header{
    margin-bottom: 500px;
}
main header h2{
    font-size: 30px;
}
main header p{
    margin-top:80px;
    font-size: 20px;
}