.project {
    padding-top: 5%;
}

.side-bar {
    margin-top: 15%;
}
.side-bar ul li {
    list-style-type: None;
    margin-top: 0.5rem;
}
.side-bar ul li a {
    text-decoration: None;
    color: black;
}
.side-bar ul li a:hover {
    font-size: 120%;
}

.navbar {
    text-transform: uppercase;
    font-size: 13.5px;
    /* !important -> override previous features.*/
    background: rgba(0,0,0,0.6)!important;
  }
  
  .navbar-nav li {
    /* spread out navbars */
    padding-right: 20px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
  }
  
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: turquoise;
}

.date {
  text-align: right;
  color: brown;
}

.other_blogs {
  text-align: center;
  margin-left: 30%;
  color: white;
}

/* ---------------------- Box style for code snippets --------------- */
/* .code-snippet {
  background: rgb(179, 167, 167);
}
.code-snippet pre {
  color: antiquewhite;
} */

pre {
  background: rgba(0,0,0,.075);
  /* color: rgb(54, 150, 94); */
  color: rgb(50, 50, 231);
}

pre {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
}

pre code,
pre .line-number {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  font:normal normal 12px/14px "Courier New",Courier,Monospace;
  color:black;
  display:block;
}

pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}

.comments {
  color: rgb(23, 187, 23);
}

body {
  color:  #505962;
}

.col-md-6 pre {
  padding-top: 0.5rem;
}

/* Table of contents */

.toc li a{
  list-style: none;
  color: #505962;
}