
.arrow{
    border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 12px;
  }
.arrow-prev{
    left:1%;
    position:absolute;
    top:45%;
    transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:1%;
    position:absolute;
    top:45%;
    transform:translateY(-50%) rotate(-45deg);
}
.light{
    color:white;
  }
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background-size:cover;
  }
.item-2{
   background-size:cover;
}
.item-3{
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
}

