/* Getting font from "google fonts" */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}


body {
  overflow: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

/* To cover space Navbar takes up */
.offset:before {
  display: block;
  content:"";
  height: 3.8rem;
  margin-top: -3.8rem;
}

/*--- Navigations ---*/
.navbar {
  text-transform: uppercase;
  font-size: 13.5px;
  /* !important -> override previous features.*/
  background: rgba(0,0,0,0.6)!important;
}

.navbar-nav li {
  /* spread out navbars */
  padding-right: 20px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: turquoise;
}

/* ------------ First Landing Page ----------------- */
.home-inner {
  /* dimming background */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../images/falling_star.jpg');
}

.caption {
  width: 100%;
  height: 100%;
  position: absolute;
  /* 42% down the page. */
  top: 42%;
  /* Display always on top of background image */
  z-index: 1;
  color: white;
}
.caption h1 {
  /* pop out looking name */
  text-shadow: .1rem .1rem .8rem black;

  /* Thickness */
  font-weight: 700;
  letter-spacing: 0.3rem;
  padding-bottom: 13px;
}

.caption h4 {
  font-size: 1.2rem;
  padding-bottom: 13px;
}

/* Word of the day */
.caption #word-of-day {
  
}



/* -----------------Typewriter effect */

.typewriter{
  position:relative;
  display: inline-block;
}

.typewriter h4, .typewriter h1 {
 overflow: hidden;
 white-space: nowrap;
 margin: 0 auto;
 letter-spacing: .15em;
 animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
 from {
   width: 0
 }
 to {
   width: 100%
 }
}

/* Word of the day */
#word-of-the-day {
  margin-bottom: 20%;
}



/*---------------- Projects Page -------------------*/
.jumbotron {
  /* to make it go straight to bg image */
  margin-bottom: 0;
  padding: 2rem 0 3.5rem 0;
}

h3.heading, h2.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.heading-underline2 {
  width: 3rem;
  height: .2rem;
  background-color: #505962;
  margin: 0 auto 2rem;
}

.project_name {
  font-size: 1.4rem;
  color: black;
}

div.project p {
  padding-right: 2rem;
  padding-left: 2rem;
}

#projects img {
  border-radius: 10%;
}

/* -------------------- GIFs initially invisible, show up when hover ------------------- */

.container .img-top{
  position: relative;
  width: 100%;
  opacity: 0.6;
  display: block;
  height: auto;
  transition: 1s ease;  /* starts here. and when hover, takes 1s to ease in.*/
  backface-visibility: hidden;
}

.container .img-bot{
  width: 100%;
  height: 80%;
  position: absolute;
  transition: all 1s ease-in-out;
  opacity: 0;
  top: 5%;
  left: 0;
  z-index: 1;
}

.container:hover .img-top {
  opacity: 0;
}


.container:hover .img-bot {
  /* display:inline; */
  opacity: 1;
}

/* When hovered, show project description */
.container:hover .middle {
  opacity: 0;
}


.container .project-info p {
  opacity: 1;
  transition: all 1s ease-in-out;
  color: #666c70;
  font-size: 75%;
}

.container:hover .project-info p {
  opacity: 0;
}


/* Project description is not shown initially */
.middle {
  transition: 1.5s ease;
  color: #40474e;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.container h3 {
  padding-bottom: 20px;
}


/*------------------- Hobbies Page ----------------*/

.fixed {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/할아버지.jpg');
  /* make sure bg image is underneath (-1) 
  z-index: -1;*/
}

.fp_font {
  color: whitesmoke;
}
#hobbies #carousel #crawdad{
  height: 20%;
}
#hobbies #carousel img{
  width: 40%;
  height: 300x;
}

#carousel {
	position: relative;
	height: 400px;
	/* width: 50%; */
	top: 50%;
	transform: translateY(-40%);
	overflow: hidden;
}

#carousel div {
	position: absolute;
	transition: transform 1s, left 1s, opacity 1s, z-index 0s;
	opacity: 1;
}

#carousel div img {
	width: 200px;
	transition: width 1s;
}

#carousel div.hideLeft {
	left: 0%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
	width: 100px;
}

#carousel div.hideRight {
	left: 100%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
	width: 100px;
}

#carousel div.prev {
	z-index: 5;
	left: 30%;
	transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
	width: 150px;
}

#carousel div.prevLeftSecond {
	z-index: 4;
	left: 15%;
	transform: translateY(50%) translateX(-50%);
	opacity: .7;
}

#carousel div.prevLeftSecond img {
	width: 100px;
}

#carousel div.selected {
	z-index: 10;
	left: 50%;
	transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
	z-index: 5;
	left: 70%;
	transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
	width: 150px;
}

#carousel div.nextRightSecond {
	z-index: 4;
	left: 85%;
	transform: translateY(50%) translateX(-50%);
	opacity: .7;
}

#carousel div.nextRightSecond img {
	width: 100px;
}
.buttons {
	/* position: fixed; */
	left: 2%;
	transform: translateX(-0%);
	bottom: 100px;
}

/*--------------- Reference Page -------------------*/
.quotes img {
  width: 100%;
  /* make quote image round */
  border-radius: 50%;
}

cite {
  font-size: 110%;
  color: black;
}

.fa-quote-left {
  padding-right: 5px;
}

/*---------------- Footer Section ----------------------*/
footer {
  background-color: #40474e;
  color: white
}
footer a {
  color: white;
}

footer a:hover {
  color: black;
}

/* Chaning color of Font Awesome icons */
footer .fab {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem;
}
blockquote .fa-quote-left {
  color: #1ebba3;
}




/*------------ Media Query --------------*/
@media (max-width: 767px) {
  .caption h1 {
    opacity: 0.9;
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
    padding-bottom: 13px;
  }
  
  .caption h4 {
    opacity: 0.9;
    font-size: 0.7rem;
    padding-bottom: 13px;
  }

  .quotes img {
    max-width: 50%;
    /* make quote image round */
    display: block;
    margin: 0 auto;
  }

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/




/* -------------------- My Brain --------------------- */

.my_brain {
  margin-top: 5%;
  color:#4e555c;
}

.my_brain .heading, .my_brain .heading-underline2 {
  opacity: 0.8;
}

.arrow-1 {
  margin-top: 3%;
}

.my_brain .blg ul li a{
  text-decoration: None;
  color:#4e555c;
}

.my_brain .blg ul li{
  list-style-type: none;
}

.my_brain {
  position: relative;
  z-index: 2;
}

.my_brain .blg ul li a:hover {
  color: wheat;
}

.my_brain .blg h6 {
  font-size: 120%;
  font-weight: bold;

}

/* ---------------------------- Algorithms --------------------------- */
.panel-group .panel .panel-title a{
  text-decoration: none;
  color: #505962;
}
.panel-group .panel .panel-title a:hover{
  text-decoration: none;
  color: blanchedalmond;
}

.panel-group .panel .panel-footer a{
  text-decoration: none;
  color: #505962;
}
.panel-group .panel .panel-footer a:hover{
  text-decoration: none;
  color: blanchedalmond;
}

.panel-title {
  font-weight: bold;
}

.panel-footer{
  font-size: 80%;
}

/* --------------------------- Books and Movies ------------------------- */